@import "tailwindcss";

@theme {
  --color-accent: #32befa;
  --color-os-bg: #000000;
  --color-os-text: #ffffff;
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.scrollable-layout {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
